.container{
    margin-top: 30px;
    position: relative;
}

.ic{
    content: url("../media/add.63eb2971b3ff.png");
    width: 100%;
    height: 100%;
}

.bttnn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
}

.ic:hover{
    content: url("../media/star.83ae9fab05f3.png");
    width: 100%;
    height: 100%;
}

.row{
    margin-left: -150px;
    margin-right: -150px;
}

.del{
    content: url("../media/star.83ae9fab05f3.png");
    width: 100%;
    height: 100%;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
