.container{
    margin-top: 30px;
    position: relative;
}

.ic{
    content: url("../media/add.63eb2971b3ff.png");
    width: 100%;
    height: 100%;
}

.bttnn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
}

.ic:hover{
    content: url("../media/star.83ae9fab05f3.png");
    width: 100%;
    height: 100%;
}

.row{
    margin-left: -150px;
    margin-right: -150px;
}

.del{
    content: url("../media/star.83ae9fab05f3.png");
    width: 100%;
    height: 100%;
}
